{% extends 'base.html.twig' %}

{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text">Bienvenue sur Agora</h1>
                <div class="row center">
                    <h5 class="header col s12 white-text"> Place publique de libre pensée, ou chaqu'un est écouté, osez partager vos fulgurance ! </h5>
                </div>

                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{ asset('assets/images/chile-house-1115590_960_720.jpg') }}" alt=""></div>

    </div>

    <section>
        <div class="section">
            <div class="container">

                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Cet amour</span>
                                <blockquote>
                                    <p>Cet amour <br>
                                        Si violent <br>
                                        Si fragile<br>
                                        Si tendre<br>
                                        Si désespéré<br>
                                        Cet amour<br>
                                        Beau comme le jour<br>
                                        Et mauvais comme le temps<br>
                                        Quand le temps est mauvais<br>
                                        Cet amour si vrai<br>
                                        Cet amour si beau<br>
                                        Si heureux<br>
                                        Si joyeux<br>
                                        Et si dérisoire<br>
                                        Tremblant de peur comme un enfant dans le noir<br>
                                        Et si sûr de lui<br>
                                        Comme un homme tranquille au milieu de la nuit<br>
                                        Cet amour qui faisait peur aux autres<br>
                                        Qui les faisait parler<br>
                                        Qui les faisait blêmir<br>
                                        Cet amour guetté<br>
                                        Parce que nous le guettions<br>
                                        Traqué blessé piétiné achevé nié oublié<br>
                                        Parce que nous l'avons traqué blessé piétiné achevé nié oublié<br>
                                        Cet amour tout entier<br>
                                        Si vivant encore<br>
                                        Et tout ensoleillé </p>
                                    <br>
                                    <cite>Jacque Prevert</cite>

                                </blockquote>
                            </div>
                            <div class="card-action">
                                <a href="#">Commenter</a>
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('assets/images/chile-house-1115590_960_720.jpg') }}"></div>
    </div>
{% endblock %}

